$font-family-base:      	    "Helvetica Neue", Helvetica, sans-serif;

$primary:                     #7952b3;
$secondary:                   #0090FF;

$customcolor1:                #2A6F4D;
$customcolor2:                #DE4343;

$theme-colors: (
  "customcolor1":	          $customcolor1,
  "customcolor2":             $customcolor2
);
